.container{
  margin-top: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}
.container form{
  width: 400px;
  position: relative;
  background-color: #6420AA;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 1px 0px #B8C0C2;
  /*background-color: #ffffff;*/
}
.container .container-content{
  margin-top: 20px;
}
form h3{
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 30px;
  text-align: center;
  color: #FFBF00;

}
.container .container-content input{
  border-radius: 10px;
  margin-top: 10px;
  display: block;
  width: 100%;
}

.container .container-content label{
  font-size: 14px;
  color: #ffffff;
}
.container .container-btn{
  margin-top: 30px;
  position: relative;
}
.container .container-btn button{
  background-color:#FFBF00;
  color: #000000;
  display: inline-block;
  padding: 10px;
  width:300px;
  border-radius: 10px;
  font-size: 17px;
  box-shadow: 0px 0px 1px 0px #000000;
  transform: translateX(10px);
}
.eye{
  position: relative;

}
.fa-eye,.fa-eye-slash{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.container-loader{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
}
.lds-roller {
  /* change color here */
  color: #1c4c5b
}
.lds-roller,
.lds-roller div,
.lds-roller div:after {
  box-sizing: border-box;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;

}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7.2px;
  height: 7.2px;
  border-radius: 50%;
  background: currentColor;
  margin: -3.6px 0 0 -3.6px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 62.62742px;
  left: 62.62742px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 67.71281px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 70.90963px;
  left: 48.28221px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 70.90963px;
  left: 31.71779px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 67.71281px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 62.62742px;
  left: 17.37258px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12.28719px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
p{
  text-align: center;
  color: red;
  font-weight: 800;
  font-size: 18px;
}
