<div class="container">
  <form [formGroup]="authAgent"   [ngStyle]="{'opacity':loader?'0.8':'1'}">
    <div *ngIf="loader" class="container-loader">
      <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
    <h3>Login</h3>
    <p *ngIf="showMessage">{{messageAgent}}</p>
    <div class="container-content" >
      <label>Number phone</label>
      <input type="text" placeholder="number phone" formControlName="phone" [attr.disabled]="loader? true:null">
    </div>
    <div class="container-content" >
      <label>Password</label>
      <div class="eye" >
        <input id="password" type="password" placeholder="password" formControlName="password" [attr.disabled]="loader? true:null">
        <i *ngIf="!passwordStatus" (click)="password()" class="fa-solid fa-eye"></i>
        <i *ngIf="passwordStatus" (click)="password()" class="fa-solid fa-eye-slash"></i>
      </div>
    </div>
    <div class="sm:col-span-3 mt-4">
      <label style="font-size: 14px;">login type</label>
      <div class="mt-2">
        <select name="logintype"  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-[#BA3339] sm:max-w-xs sm:text-sm sm:leading-6" formControlName="logintype">
         <!-- <option value="admin" [selected]="true">Admin</option>-->
          <option value="agent" [selected]="true">Agent</option>
          <option value="client">Client</option>
        </select>
      </div>
    </div>
    <div class="container-btn">
       <button type="submit" (click)="login()"  >login</button>
    </div>
  </form>
</div>
