<div class="body">
  <aside class="aside">
    <div class="top">
      <div class="logo">
        <div class="img-admin">
          <!--<img src="../../assets/media/Mon_image.png">-->
          <svg class="h-12 w-12 text-gray-300" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
            <path *ngIf="!getSession().cover" fill-rule="evenodd" d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" clip-rule="evenodd" />
            <image *ngIf="getSession().cover" [attr.xlink:href]="coverPath+getSession().cover"   x="0" y="0" width="24" height="24" class="rounded-full" />
          </svg>
        </div>
        <h3>{{getSession().fname}}<span *ngIf="getSession().proClient">(client pro)</span>
          <span *ngIf="!getSession().proClient">(client)</span>
        </h3>
      </div>
      <span class="dismiss">
            <i class="fa-solid fa-xmark"></i>
      </span>
    </div>
    <div class="sidebare">
      <h3 class="discover">
        <i class="fas fa-compass"></i>
        <a  (click)="setHome()">Discover</a>
      </h3>
      <h3>
        <i class="fa-solid fa-cart-shopping"></i>
        <a  (click)="setFactures()"  >pay bills</a>
      </h3>
      <h3>
        <i class="fa-solid fa-eye"></i>
        <a  (click)="setSolde()"  >solde</a>
      </h3>
      <h3 style="text-wrap: nowrap">
        <i class="fa-solid fa-paper-plane"></i>
        <a  (click)="sendMoney()" >send money</a>
      </h3>
      <h3 class="logout">
        <i class="fa-solid fa-right-from-bracket"></i>
        <a (click)="logout()" >logout</a>
      </h3>
    </div>
  </aside>
  <aside class="small-view" *ngIf="isShow">
    <div class="top">
      <div class="logo">
        <div class="img-admin">
          <img src="../../assets/media/Mon_image.png">
        </div>
        <h3>Tarik<span>(client)</span></h3>
      </div>
      <span class="dismiss">
            <i class="fa-solid fa-xmark"></i>
      </span>
    </div>
    <div class="sidebare">
      <h3 class="discover">
        <i class="fas fa-compass"></i>
        <a  (click)="setHome()">Discover</a>
      </h3>
      <h3>
        <i class="fa-solid fa-cart-shopping"></i>
        <a  (click)="setFactures()"   >pay bills</a>
      </h3>
      <h3>
        <i class="fa-solid fa-paper-plane"></i>
        <a  (click)="sendMoney()"  >send money</a>
      </h3>
      <h3>
      <i class="fa-solid fa-eye"></i>
      <a  (click)="setSolde()"  >solde</a>
      </h3>
      <h3 class="logout">
        <i class="fa-solid fa-right-from-bracket"></i>
        <a (click)="logout()" >logout</a>
      </h3>
    </div>
  </aside>
  <div class="main" >
    <nav>
      <div class="search">
        <i  (click)="showAside()" class="fa-solid fa-bars "></i>
        <i  class="fa-solid fa-bars nav"></i>
        <h5>Home</h5>
      </div>
      <div class="logo-picture">
        <div class="notify">
          <i (click)="setProfile()" class="fa-regular fa-bell"></i>
          <span *ngIf="!getSessionUpdatePass()"></span>
        </div>
        <!-- notification toast-->
        <div *ngIf="isChangePass" (click)="setProfile()" class="toast max-w-xs   rounded-xl shadow-lg " role="alert">
          <div class="flex p-4">
            <div class="flex-shrink-0">
              <svg class="flex-shrink-0 size-4 text-yellow-500 mt-0.5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"></path>
              </svg>
            </div>
            <div class="ms-3">
              <p class="text-sm ">
                change your password
              </p>
            </div>
          </div>
        </div>
        <div class="name">
          <p>Hey,<strong> {{getSession().fname}}</strong></p>
          <small *ngIf="getSession().proClient">client pro</small>
          <small *ngIf="!getSession().proClient">client </small>
        </div>
        <div class="img" (click)="changerProfile()">
          <svg class="h-12 w-12 text-gray-300" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
            <path *ngIf="!getSession().cover" fill-rule="evenodd" d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" clip-rule="evenodd" />
            <image *ngIf="getSession().cover" [attr.xlink:href]="coverPath+getSession().cover"   x="0" y="0" width="24" height="24" class="rounded-full" />
          </svg>
         <!-- <img [src]="coverPath+getSession().imageUrl">-->
          <div class="editer-profile" *ngIf="changeCover" >
            <div>
              <span><i class="fa-solid fa-user"></i></span>
              <a (click)="goToProfile()">edit your profile</a>
            </div>
            <div>
              <span><i class="fa-solid fa-gear"></i></span>
              <a (click)="genererQrCode()" >Qr code settings</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div *ngIf="!sharedRouter.linkClick">
      <router-outlet ></router-outlet>
    </div>
    <div class="services" *ngIf="sharedRouter.linkClick">
      <div class="dispo c1">
        <h2>
          <span><i class="fas fa-headset"></i></span>
          24h/7j
        </h2>
        <i class="fa fa-ellipsis-h"></i>
      </div>
      <div class="dispo c2">
        <h2>
          <span><i class="fas fa-money-check-alt"></i></span>
          Faster & Smooth
        </h2>
        <i class="fa fa-ellipsis-h"></i>
      </div>
      <div class="dispo c3">
        <h2>
          <span><i class="fa-solid fa-certificate"></i></span>
          greater than 15 years
        </h2>
        <i class="fa fa-ellipsis-h"></i>
      </div>
    </div>
    <div class="client-added" *ngIf="sharedRouter.linkClick" >
        <div class="graph-1">
          <div class="header">
            <h1><span><i class="fa-solid fa-tent-arrow-left-right"></i></span>latest transactions</h1>
          </div>
          <div class="main-transaction">
              <div class="transactions"  *ngFor="let histo of Object.values(listofTransaction);let i=index">
                <div class="transaction-historique" *ngIf="Object.values(listofTransaction).length" >
                  <div class="icon">
                    <i class="fa-solid fa-money-check"></i>
                  </div>
                  <div class="conetent-transaction" *ngIf="Object.values(listofTransaction).length">
                    <h1>{{histo.facturePaye}}</h1>
                    <h3>{{histo.date}}</h3>
                  </div>
                </div>
                <div class="montant-transcation" *ngIf="Object.values(listofTransaction).length">
                  <h1>{{histo.montant+"DH"}}</h1>
                </div>
              </div>
            <div class="vide-historique" *ngIf="!Object.values(listofTransaction).length" >
              <h1>historique vide </h1>
            </div>
        </div>
        </div>
      <div class="graph-2">
        <div class="header">
          <h1><span><i class="fa-solid fa-users"></i></span>discover account</h1>
        </div>
        <ngx-slick-carousel class="test" [config]="slideConfig">
          <div ngxSlickItem class="compte">
            <img src="../../assets/media/carousel-1.jpg">
          </div>
          <div ngxSlickItem class="compte">
            <img src="../../assets/media/carousel-7.jpg">
          </div>
          <div ngxSlickItem class="compte">
            <img src="../../assets/media/carousel-3.jpg">
          </div>
        </ngx-slick-carousel>
      </div>
    </div>
  </div>
</div>

