<div class="flex items-center justify-center h-screen px-4 md:px-8 lg:px-16">
  <div class="flex flex-col items-center justify-between p-8 md:p-16 ">
    <div class="lg:text-center">
      <h2 class="text-3xl font-extrabold text-gray-900">{{ 'features' | translate }}</h2>
      <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">
        {{ 'featuresDescription' | translate }}
      </p>
    </div>

    <div class="mt-10">
      <div class="space-y-8 md:space-y-0 md:grid md:grid-cols-3 md:gap-8">
        <div class="glass p-6 rounded-lg shadow-md cell">
          <h3 class="text-xl font-bold text-gray-900">{{ 'agentBackOffice' | translate }}</h3>
          <p class="mt-4 text-gray-500">
            {{ 'agentBackOfficeDescription' | translate }}
          </p>

        </div>

        <div class="glass p-6 rounded-lg shadow-md cell">
          <h3 class="text-xl font-bold text-gray-900">{{ 'customerSpace' | translate }}</h3>
          <p class="mt-4 text-gray-500">
            {{ 'customerSpaceDescription' | translate }}
          </p>


        </div>

        <div class="glass p-6 rounded-lg shadow-md cell">
          <h3 class="text-xl font-bold text-gray-900">{{ 'cmiWebService' | translate }}</h3>
          <p class="mt-4 text-gray-500">
            {{ 'cmiWebServiceDescription' | translate }}
          </p>

        </div>
      </div>
    </div>
  </div>
</div>
