<div class="max-w-4xl mx-auto mt-12 " [formGroup]="firstAdd">
  <div class="rounded-lg p-8 w-full sm:w-auto bg-white">
    <h2 class="text-xl font-semibold mb-4">Personal Information</h2>
    <div class="grid  grid-cols-1 sm:grid-cols-2 gap-6">
      <div>
        <label  class="block text-sm font-medium leading-5 text-gray-700">First Name</label>
        <input type="text"  name="first-name" formControlName="fname"  placeholder="first name"  class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50">
      </div>
      <div>
        <label  class="block text-sm font-medium leading-5 text-gray-700">Last Name</label>
        <input type="text" name="last-name" formControlName="lname" placeholder="last name" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50">
      </div>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mt-4">
      <div>
        <label  class="block text-sm font-medium leading-5 text-gray-700">Email</label>
        <input type="text"   placeholder="email" formControlName="email" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50">
      </div>
      <div>
        <label class="block text-sm font-medium leading-5 text-gray-700">Password</label>
        <input type="password"  name="last-name" formControlName="password" placeholder="password" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50">
      </div>
    </div>
    <div class="mt-6 flex justify-end">
      <button type="button" class="px-4 py-2 bg-indigo-600 text-white rounded hover:bg-indigo-700 focus:outline-none focus:border-indigo-700 focus:ring focus:ring-indigo-500 focus:ring-opacity-50" (click)="increaseStep()">Next</button>
    </div>
  </div>
</div>


