.glass {

  background: rgba(255, 255, 255, 1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(255, 194, 0,0.5);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.27);
}


.active-link {
  color: #ba3339; /* This is the hex code for ng-indigo-600 */
}
