<div class="max-w-4xl mx-auto mt-8 " [formGroup]="thirdAdd" >
  <div class="bg-white rounded-lg p-8 w-full sm:w-auto container">
    <h2 class="text-xl font-semibold mb-4">Personal Information</h2>
    <p class="createdclient" *ngIf="createdClient">{{createdMessage}}</p>
    <div *ngIf="loader" class="container-loader">
      <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
    <div class="">
      <div>
        <label  class="block text-sm font-medium leading-5 text-gray-700">Nationality</label>
        <div class="mt-2">
          <select  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-[#BA3339] sm:text-sm sm:leading-6" formControlName="nationality">
            <option value="Morocco" [selected]="true">Morocco</option>
            <option value="Canada">Canada</option>
            <option value="USA">USA</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-span-full mt-4">
      <div>
        <div class="mt-2">
          <label  class="block text-sm font-medium leading-5 text-gray-700" >Open account</label>
          <input type="number" formControlName="solde"    placeholder="le montant à deposer " class="mt-1 block w-full rounded-md  border-dark  shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50">
        </div>
      </div>
    </div>
    <div class="mt-6 flex justify-end gap-3">
      <button type="button" class="px-4 py-2 bg-slate-950 text-white rounded focus:outline-none focus:border-indigo-700 focus:ring focus:ring-indigo-500 focus:ring-opacity-50" (click)="decreaseStep()">back</button>
      <button type="button" class="px-4 py-2 bg-indigo-600 text-white rounded hover:bg-indigo-700 focus:outline-none focus:border-indigo-700 focus:ring focus:ring-indigo-500 focus:ring-opacity-50" (click)="increaseStep()" >save</button>
    </div>
  </div>
</div>




