<div class="container mx-auto rounded-md overflow-x-auto">
  <table class="w-full bg-white  my-6">
    {{clients}}
    <thead >
    <tr class="bg-rose-800 text-white">
      <th class="py-2 px-4">photo</th>
      <th class="py-2 px-4">username</th>
      <th class="py-2 px-4">phone</th>
      <th class="py-2 px-4">CIN</th>
      <th class="py-2 px-4">email</th>
    </tr>
    </thead>
    <tbody >
    <tr class="hover:bg-gray-100" >
      <td class="py-2 px-4">
        <!--<img class="img" [src]="coverPath+client[i].cover">-->
      </td>
     <!-- <td class="py-2 px-4">{{client.fname+" "+client.lname}}</td>
      <td class="py-2 px-4">{{client.phone}}</td>
      <td class="py-2 px-4">{{client.numeroDePieceIdentite}}</td>
      <td class="py-2 px-4">{{client.email}}</td>-->
    </tr>
    </tbody>
  </table>
</div>
