.img {
  background-image: url("src/assets/media/blob-scene-haikei (2).svg");
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  position: fixed; /* Fix the position of the container */
  top: 0; /* Align the top edge of the container with the top edge of the viewport */
  left: 0; /* Align the left edge of the container with the left edge of the viewport */
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  z-index: -1; /* Ensure the background image is behind your content */
}
