<div class="container" >
  <div class="header">
    <div>
      <span><i class="fa-solid fa-paperclip"></i></span>
      <h2>FAIRE UNE TRANSACTION</h2>
    </div>
  </div>
  <div class="container-content" [formGroup]="formTransaction">
    <div class="logoCreancier">
      <img src="../../assets/media/transactionMoney.png" alt="redal's logo">
    </div>
    <div class="form" >
      <div>
        <select (change)="typeTransaction($event)" *ngIf="!isQrChoosed && !isRIBChoosed">
          <option [hidden]="true">choisir la methode de paiement</option>
          <option value="RIB">RIB</option>
          <option value="QR CODE">QR CODE</option>
        </select>
        <input type="text" formControlName="Rib" placeholder="entrer RIB" *ngIf="isRIBChoosed">
        <div class="font-[sans-serif] max-w-md mx-auto" *ngIf="isQrChoosed">
          <input type="file" (change)="getImageQr($event)"
                 class="w-full text-gray-400 font-semibold text-sm bg-white border file:cursor-pointer cursor-pointer file:border-0 file:py-3 file:px-4 file:mr-4 file:bg-gray-100 file:hover:bg-gray-200 file:text-gray-500 rounded border-[#000000]" />
          <p class="text-xs text-gray-400 mt-2">PNG, JPG SVG, WEBP, and GIF are Allowed.</p>
        </div>

      </div>
      <div class="form" >
        <div>
         <input type="number" formControlName="amount" placeholder="entrer le montant">
        </div>
      <div class="buttons">
        <button type="submit" (click)="annuler()" >annuler</button>
        <button type="submit" class="valider" (click)="uploadFileToActivity()" >
          <i *ngIf="buttonClicked" class="fa fa-spinner fa-spin"></i>
           <span>valider</span>
        </button>
      </div>
    </div>
  </div>
</div>
</div>
