<div class="container">
  <div class="header">
    <div>
      <span><i class="fa-solid fa-paperclip"></i></span>
      <h2>OTP SMS</h2>
    </div>
  </div>
  <div class="content">
    <div class="max-w-md mx-auto w-100 text-center bg-white px-4 sm:px-8 py-10 rounded-xl ">
      <header class="mb-8">
        <h1 class="text-2xl font-bold mb-1">OTP SMS Verification</h1>
        <p class="text-[15px] text-slate-500">Enter the 6-digit verification code that was sent to your phone number.</p>
      </header>
      <form id="otp-form">
        <div class="flex items-center justify-center gap-3">
          <div [formGroup]="OtpForm1">
          <input formControlName="otp"
            type="text"
            class="w-14 h-14 text-center text-2xl font-extrabold text-slate-900 bg-slate-100 border border-transparent hover:border-slate-200 appearance-none rounded p-4 outline-none focus:bg-white focus:border-indigo-400 focus:ring-2 focus:ring-indigo-100"
            pattern="\d*" maxlength="1" />
          </div>
          <span [formGroup]="OtpForm2">
          <input formControlName="otp"
            type="text"
            class="w-14 h-14 text-center text-2xl font-extrabold text-slate-900 bg-slate-100 border border-transparent hover:border-slate-200 appearance-none rounded p-4 outline-none focus:bg-white focus:border-indigo-400 focus:ring-2 focus:ring-indigo-100"
            maxlength="1" />
          </span>
          <span [formGroup]="OtpForm3">
          <input formControlName="otp"
            type="text"
            class="w-14 h-14 text-center text-2xl font-extrabold text-slate-900 bg-slate-100 border border-transparent hover:border-slate-200 appearance-none rounded p-4 outline-none focus:bg-white focus:border-indigo-400 focus:ring-2 focus:ring-indigo-100"
            maxlength="1" />
          </span>
          <span [formGroup]="OtpForm4">
          <input formControlName="otp"
            type="text"
            class="w-14 h-14 text-center text-2xl font-extrabold text-slate-900 bg-slate-100 border border-transparent hover:border-slate-200 appearance-none rounded p-4 outline-none focus:bg-white focus:border-indigo-400 focus:ring-2 focus:ring-indigo-100"
            maxlength="1" />
          </span>
          <span [formGroup]="OtpForm5">
          <input
            type="text"
            class="w-14 h-14 text-center text-2xl font-extrabold text-slate-900 bg-slate-100 border border-transparent hover:border-slate-200 appearance-none rounded p-4 outline-none focus:bg-white focus:border-indigo-400 focus:ring-2 focus:ring-indigo-100"
            maxlength="1" formControlName="otp" />
          </span>
          <span [formGroup]="OtpForm6">
          <input formControlName="otp"
            type="text"
            class="w-14 h-14 text-center text-2xl font-extrabold text-slate-900 bg-slate-100 border border-transparent hover:border-slate-200 appearance-none rounded p-4 outline-none focus:bg-white focus:border-indigo-400 focus:ring-2 focus:ring-indigo-100"
            maxlength="1" />
            </span>
        </div>
        <div class="max-w-[260px] mx-auto mt-4">
          <button type="submit"
                  class="w-full inline-flex justify-center whitespace-nowrap rounded-lg bg-indigo-500 px-3.5 py-2.5 text-sm font-medium text-white shadow-sm shadow-indigo-950/10 hover:bg-indigo-600 focus:outline-none focus:ring focus:ring-indigo-300 focus-visible:outline-none focus-visible:ring focus-visible:ring-indigo-300 transition-colors duration-150" (click)="payer()">pay
          </button>
        </div>
      </form>
      <div class="text-sm text-slate-500 mt-4">Didn't receive code? <a class="font-medium text-indigo-500 hover:text-indigo-600" href="#0">Resend</a></div>
    </div>
  </div>
</div>
