<div class="max-w-4xl mx-auto mt-12 " [formGroup]="secondAdd">
  <div class="bg-white rounded-lg p-8 w-full sm:w-auto">
    <h2 class="text-xl font-semibold mb-4">Personal Information</h2>
    <div class="grid  grid-cols-1 sm:grid-cols-2 gap-6">
      <div>
        <label  class="block text-sm font-medium leading-5 text-gray-700">Phone</label>
        <input type="text" formControlName="phone"  placeholder="phone number"  class="mt-1 block w-full rounded-md border-dark shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50">
      </div>
      <div>
        <label  class="block text-sm font-medium leading-5 text-gray-700" *ngIf="!wallet.isEntreprise">CIN</label>
        <div class="mt-1">
          <select id="cin" name="cin" *ngIf="!wallet.isEntreprise" formControlName="piece_identite"  class="mt-1 block w-full rounded-md border-dark shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50">
            <option value="CIN" [selected]="true">CIN</option>
            <option value="Passport">Passport</option>
          </select>
          <label  class="block text-sm font-medium leading-5 text-gray-700" *ngIf="wallet.isEntreprise">Number of Employees</label>
          <select  *ngIf="wallet.isEntreprise" formControlName="companySize"   class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-[#BA3339] sm:text-sm sm:leading-6">
            <option value="less than 100" [selected]="true">less than 100</option>
            <option value="100-400" [selected]="true">100-900</option>
            <option value="greather than 1000" [selected]="true">greather than 1000</option>
          </select>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mt-4">
      <div [hidden]="!wallet.isClient">
        <label  class="block text-sm font-medium leading-5 text-gray-700" >Num CIN</label>
        <input type="text" formControlName="numeroDePieceIdentite"   placeholder="numero cin" class="mt-1 block w-full rounded-md  border-dark  shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50">
      </div>
      <div>
        <label class="block text-sm font-medium leading-5 text-gray-700">Addresse</label>
        <input type="text" formControlName="addresse" placeholder="addresse" class="mt-1 block w-full rounded-md  border-dark  shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50">
      </div>
    </div>
    <div class="mt-6 flex justify-end gap-2">
      <button type="button" class="px-4 py-2 bg-slate-950 text-white rounded focus:outline-none focus:border-indigo-700 focus:ring focus:ring-indigo-500 focus:ring-opacity-50" (click)="decreaseStep()">back</button>
      <button type="button" class="px-4 py-2 bg-indigo-600 text-white rounded hover:bg-indigo-700 focus:outline-none focus:border-indigo-700 focus:ring focus:ring-indigo-500 focus:ring-opacity-50" (click)="increaseStep()">Next</button>
    </div>
  </div>
</div>




